<div class="item" [ngClass]="{selected: entryGroup.date === entryService.selectedEntryGroup.date}">
    <div class="heading">
        <div class="row">
            <div class="col-6">
                <span>{{entryGroup.date | date: 'dd/MM/yyyy'}}</span>
            </div>
            <div class="col-6 text-right">
                <span>{{entryGroup.getSuccessRate() | percent }} acerto</span>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-6">
                <span>{{entryGroup.getTotalEntries() | i18nPlural: this.pluralMapping['entry']}}</span>
                <span>{{entryGroup.getTotalConfirmedEntries() | i18nPlural: this.pluralMapping['confirmed']}}</span>
            </div>
            <div class="col-6 text-right">
                <span>{{entryGroup.rights | i18nPlural: this.pluralMapping['rights']}}</span>
                <span>{{entryGroup.errors | i18nPlural: this.pluralMapping['errors']}}</span>
            </div>
        </div>
    </div>
    <div class="nav"><span><i class="fa fa-chevron-right"></i></span></div>
</div>
