.item {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 200ms ease;
  position: relative;
  font-size: 14px;
}
.item:hover, .item.selected {
  border-radius: 6px;
  background-color: #e5e5e5;
  transition: all 200ms ease;
}
.item:hover .nav, .item.selected .nav {
  opacity: 1;
  right: -20px;
  transition: all 200ms ease;
}
.item.selected {
  background-color: #efefef;
}
.item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}
.item .heading {
  padding: 0 5px;
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}
.item .body {
  padding: 0 5px;
}
.item .body .row div:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.item .body span {
  display: block;
}
.item .nav {
  transition: all 200ms ease;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}
.item .nav span {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 0 3px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=entry-index-list-item.component.css.map */
