<div class="select-entry" *ngIf="!this.canShowEntryList()">
    <p>Selecione um dia para visualizar as entradas</p>
</div>
<div class="entry-list" *ngIf="this.canShowEntryList()">
    <p>Detalhes das entradas do dia selecionado: {{this.entryService.selectedEntryGroup.date | date: 'dd/MM/yyyy'}}</p>
    <mat-table [dataSource]="this.entryList" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Hora </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.time}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pairLabel">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Moeda </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.pair.pairLabel}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="timeframe">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Timeframe </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.pair.interval}} min</mat-cell>
        </ng-container>

        <ng-container matColumnDef="operation">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Operação </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.operationText}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.statusText}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="martingale">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Martingale </mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center"> {{row.backtest.errorsCount}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="interval">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Intervalo (dias) </mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center"> {{row.interval}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="tolerance">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tolerância </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.backtest.tolerance | percent}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
            <mat-cell *matCellDef="let row"> <button mat-button color="warn" (click)="removeFromWatchedEntries(row)">Remover</button></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="dataCols"></mat-header-row>

        <mat-row *matRowDef="let row; columns: dataCols"></mat-row>
    </mat-table>
</div>
