.backtest-filter-bar{
  margin-bottom: 10px;
  .btn{
    width: 100%;
  }
}

.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  margin: 30px 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
  padding-bottom: 15px;
  background: #435d7d;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}
.table-title .btn-group {
  float: right;
}
.table-title .btn {
  color: #fff;
  float: right;
  font-size: 13px;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}
.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}
.table-title .btn span {
  float: left;
  margin-top: 2px;
}

table{
  &.table tr th, .table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
  }
  &.table tr th:first-child {
    width: 60px;
  }
  &.table tr th:last-child {
    width: 100px;
  }
  &.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
  }
  &.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
  }
  &.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
  }
  &.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
  }
  &.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
  }
  &.table td a:hover {
    color: #2196F3;
  }
  &.table td a.edit {
    color: #FFC107;
  }
  &.table td a.delete {
    color: #F44336;
  }
  &.table td i {
    font-size: 19px;
  }
  &.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  to {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.flex-center{
  display: flex !important;
  align-items: center;
}

.pointer-default{
  cursor: default !important;
}

.chosen-container-single .chosen-single {
  height: 30px;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
}
.chosen-container-single .chosen-single span {
  padding-top: 2px;
}
.chosen-container-single .chosen-single div b {
  margin-top: 2px;
}
.chosen-container-active .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
  border-color: #ccc;
  border-color: rgba(82, 168, 236, .8);
  outline: 0;
  outline: thin dotted \9;
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
  box-shadow: 0 0 8px rgba(82, 168, 236, .6)
}

@media print{
  .dataTables_wrapper .row:first-child{
    display: none !important;
  }
}
