<div class="container">
    <div class="row" *ngIf="this.entryGroupList.length > 0">
        <div class="col-3">
            <entry-index-list [entryGroupList]="this.entryGroupList"></entry-index-list>
        </div>
        <div class="col-9">
            <entry-list [entryList]="this.entryList"></entry-list>
            <div class="text-right" style="margin-top: 20px" *ngIf="this.entryService.selectedEntryGroup !== null && this.entryGroupList.length > 0">
                <a class="btn btn-success"
                   [href]="getEntryGroupDownloadLink(this.entryService.selectedEntryGroup)"
                   target="_blank"><i class="fa fa-download"></i> Exportar</a>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="this.entryGroupList.length === 0">
        <div class="col-12">
            <p class="text-center">Antes de usar este painel, rode um backtest e selecione entradas para monitorar</p>
        </div>
    </div>
</div>
